:root {
  --primary: #291bf1;
  --bg: #474545;
  --text: #f6e20a;
  --second-text: #ba9c23;
  --second: #a29999cc;
}

/* @media screen () {} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Roboto slab", sans-serif;
  background-color: var(--bg);
  color: #fff;
  min-height: 1500px;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  background-color: #a29999cc;
  border-bottom: 1px solid var(--second);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}
.navbar img {
  text-align: left;
}

.navbar .img {
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  justify-content: left;
  text-align: left;
  color: #fff;
}

.navbar .navbar-logo:hover {
  color: blue;
  transition: 0.3s;
}

.navbar .navbar-logo span {
  color: rgb(19, 19, 23);
  font-style: italic;
}

/* .navbar .navbar-logo span:hover {
  color: #fff;
  transition: 0ms0.3s;
} */

.navbar .navbar-nav a {
  color: rgb(19, 19, 23);
  font-weight: 800;
  display: inline-block;
  font-size: 1.4rem;
  margin: 0 0.8rem;
}

.navbar .navbar-nav a:hover {
  color: white;
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  bottom: 0.5rem;
  border-bottom: 0.1rem solid white;
  transform: scaleX(0);
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
  transition: 0.3s linear;
}

/* Hero Section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgba(72, 70, 70, 1) 3%,
    rgba(228, 223, 223, 0) 25%
  );
}

.hero .content {
  padding: 1.4rem 10%;
}

.hero .content ul {
  font-size: 3.5em;
  font-weight: 700;
  color: var(--text);
  font-style: "";
  font-family: "Poppins" sans-serif;
  padding: 0.9rem;
  justify-content: center;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.hero .content h1 {
  font-size: 15vw;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.hero .content h2 {
  font-size: 2em;
  color: var(--second-text);
  font-weight: 700;
}

.link {
}

.kontak {
  border: 100px;
  /* border-radius: 20px; */
  background-color: var(--bg);
}

.hero .content p {
  font-size: 1.5em;
  font-style: italic;
  color: var(--second-text);
  font-weight: 700;
}
